body {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.maintext {
    background-color: goldenrod;
    padding: 20px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 10px;
}